<template>
  <svg
    class="NuxtLogo"
    width="400"
    height="400"
    viewBox="0 0 100 100"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g fill-rule="evenodd">
      <path
        d="M26.5561 12.0961C35.1069 12.0961 42.0634 19.0526 42.0634 27.6035C42.0634 36.1544 35.1069 43.1109 26.5561 43.1109C18.0053 43.1109 11.0488 36.1544 11.0488 27.6035C11.0488 19.0526 18.0053 12.0961 26.5561 12.0961Z"
      />
      <path
        d="M53.7547 38.2067L57.7384 17.9177C73.9977 21.1103 85.7986 35.4673 85.7986 52.0557C85.7986 71.2391 70.1917 86.8462 51.0082 86.8462C34.4201 86.8462 20.0629 75.0453 16.8703 58.7857L37.1593 54.8021C38.4527 61.389 44.2771 66.1697 51.0082 66.1697C58.7907 66.1697 65.1221 59.8383 65.1221 52.0557C65.1221 45.3243 60.3414 39.5001 53.7547 38.2067Z"
      />
    </g>
  </svg>
</template>
