<template>
  <svg
    width="314"
    height="120"
    viewBox="0 0 314 120"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M36.1542 14.69C36.1542 22.2833 29.9985 28.439 22.4051 28.439C14.8118 28.439 8.65615 22.2833 8.65615 14.69C8.65615 7.09673 14.8118 0.941025 22.4051 0.941025C29.9988 0.941025 36.1542 7.09673 36.1542 14.69ZM207.772 106.365C207.489 105.422 206.434 104.963 205.541 105.376C190.777 112.218 188.245 101.611 188.245 96.5031V90.4596V70.3791V60.1848C188.245 59.9691 188.254 59.7576 188.272 59.55C188.577 56.0676 191.68 53.4918 195.175 53.4918H205.699C208.918 53.4918 208.918 41.859 208.918 41.859L188.245 41.8419V11.5254C188.245 10.437 187.19 9.66602 186.151 9.99062C180.968 11.6097 172.999 13.593 167.965 13.758C165.454 13.8399 163.405 15.9915 163.405 18.504V33.4797V41.3226H152.944V49.7772C152.944 50.6442 153.658 51.3057 154.524 51.3201C157.651 51.3711 163.405 54.2709 163.405 59.604V70.3791V90.4596V96.5031C163.405 101.799 165.574 108.944 169.03 113.394C173.392 119.01 183.2 119.969 188.245 119.672C197.776 119.111 204.901 116.69 208.881 113.766C209.43 113.363 209.66 112.658 209.464 112.005L207.772 106.365ZM45.1957 110.006C40.0894 109.312 36.154 104.936 36.154 99.6396V42.3471C36.154 39.0579 35.4487 37.9725 29.1829 39.9345C29.1829 39.9345 11.3137 44.3121 4.86223 44.4147C4.37404 44.4225 3.89078 44.4332 3.43187 44.4433H3.43179H3.43171H3.43162C2.35395 44.4671 1.41057 44.488 0.853027 44.4615V49.1733V52.8516C0.853027 53.697 1.50463 54.4557 2.35033 54.4557C5.45683 54.4557 11.3143 57.3594 11.3143 62.7405V99.6396C11.3143 104.936 7.37893 109.312 2.27263 110.006C1.46983 110.114 0.853027 110.766 0.853027 111.576V118.111C0.853027 119 1.57363 119.721 2.46253 119.721H45.0058C45.8947 119.721 46.6153 119 46.6153 118.111V111.576C46.6153 110.766 45.9988 110.114 45.1957 110.006ZM99.9551 110.101C91.2425 110.101 84.1796 96.2404 84.1796 79.1425C84.1796 62.0443 91.2425 48.1837 99.9551 48.1837C108.667 48.1837 115.73 62.0443 115.73 79.1425C115.73 96.2404 108.667 110.101 99.9551 110.101ZM99.9551 38.5639C77.5442 38.5639 59.3768 56.7316 59.3768 79.1425C59.3768 101.553 77.5442 119.721 99.9551 119.721C122.366 119.721 140.533 101.553 140.533 79.1425C140.533 56.7316 122.366 38.5639 99.9551 38.5639ZM248.203 102.317C252.59 104.724 258.668 104.383 261.598 100.878C267.204 94.1697 267.117 78.081 267.117 78.081C267.117 78.081 258.489 78.081 248.649 86.0004C244.438 89.3898 243.385 99.6729 248.203 102.317ZM311.51 106.365L313.202 112.005C313.398 112.658 313.168 113.363 312.619 113.766C308.639 116.69 301.513 119.111 291.982 119.672C286.938 119.969 277.13 119.01 272.768 113.394C271.031 111.158 269.62 108.241 269.62 108.241C269.246 109.468 267.879 111.494 266.524 113.001C258.531 121.888 240.513 121.453 232.061 113.001C223.609 104.549 223.609 90.8463 232.06 82.3947C241.115 73.3392 256.238 68.8305 267.143 66.6528V66.0699C267.143 50.8359 260.562 46.4988 253.251 46.4988C247.723 46.4988 244.553 50.7123 242.745 55.1754C242.522 55.725 241.826 57.3084 241.826 57.3084C240.179 57.1131 232.682 55.5804 232.199 55.0707C231.403 54.2301 231.954 52.6107 231.954 52.6107C238.488 36.5271 254.811 35.8245 264.861 36.6732C270.366 37.1382 292.008 42.9792 292.008 65.0556C292.008 65.2638 291.982 70.3791 291.982 70.3791V90.4596V96.5031C291.982 101.611 294.515 112.218 309.279 105.376C310.172 104.963 311.227 105.422 311.51 106.365Z"
    />
  </svg>
</template>
