<template>
  <div class="max max-w-2xl mx-auto px-5 sm:px-12 legalpage">
    <h1>{{ title }}</h1>
    <!-- eslint-disable vue/no-v-html -->
    <p
      v-if="disclaimer"
      class="max-w-lg mx-auto text-sm text-center"
      v-html="disclaimer"
    />
    <!-- eslint-enable vue/no-v-html -->
    <component :is="singleComponent" />
  </div>
</template>

<style lang="postcss" scoped>
.legalpage >>> h1 {
  @apply text-xl font-semibold font-display text-center mb-4;
}
.legalpage >>> h2 {
  @apply font-semibold font-display mb-4 mt-8 text-lg;
}
.legalpage >>> p {
  @apply my-4 leading-normal;
}
.legalpage >>> ul {
  @apply list-disc ml-8;
}
.legalpage >>> a {
  @apply text-pri-pure;
}
.legalpage >>> a:hover {
  @apply text-pri-dark;
}
</style>

<script>
function prepareDisclaimer(path, disclaimer, locale) {
  if (!disclaimer) {
    return disclaimer
  }

  const currentURL = new URL(path, process.env.baseUrl)
  const tlURL = `https://translate.google.com/translate?hl=${locale}&sl=fr&tl=${locale}&u=${currentURL}`
  return disclaimer.replace('<a>', `<a href="${tlURL}">`)
}

export default {
  data: () => ({
    title: '',
    disclaimer: '',
    singleComponent: null,
    hasDisclaimer: false
  }),
  created() {
    const slug = this.$route.params.slug
    const locale = this.$i18n.locale
    let legal = null
    try {
      legal = require(`~/content/legal/${locale}/${slug}.md`)
    } catch {
      try {
        legal = require(`~/content/legal/${slug}.md`)
      } catch (err) {
        return this.$nuxt.error({
          statusCode: 404,
          message: this.$i18n.t(`errors.404`)
        })
      }
    }
    const disclaimer = legal.attributes[`disclaimer-${locale}`]

    this.singleComponent = legal.vue.component
    this.hasDisclaimer = disclaimer != null
    this.title = legal.attributes.title
    this.disclaimer = prepareDisclaimer(
      this.$route.fullPath,
      disclaimer,
      locale
    )
  }
}
</script>
