<template>
  <form
    class="h-12 flex max-w-lg flex-wrap relative"
    novalidate="true"
    @submit.prevent="onSubmit"
  >
    <input
      v-model="email"
      type="email"
      :placeholder="$t('landing.subscribe.placeholder')"
      name="contact[email]"
      class="px-3 py-1 rounded-lg flex-1 mr-4 text-neu-darker mb-2"
      required
    />
    <button class="px-3 text-white bg-pri-pure rounded-lg font-semibold mb-2">
      {{ $t('landing.subscribe.send') }}
    </button>
    <p
      class="absolute bottom-0 text-pri-white text-sm opacity-75 transform translate-y-4 translate-x-4"
    >
      {{ message }}
    </p>
  </form>
</template>

<script>
import axios from 'axios'

const firebaseURL = process.env.firebaseURL

export default {
  data: () => {
    return {
      email: null,
      message: ''
    }
  },
  methods: {
    async onSubmit(e) {
      if (!this.validEmail(this.email)) {
        this.message = this.$t('form.errors.invalid_email')
        return
      }
      try {
        await axios.post(firebaseURL + 'subscribe', {
          email: this.email
        })
        this.message = this.$t('form.success.subscribed')
      } catch (e) {
        if (e.response && e.response.status === 429) {
          this.message = this.$t('form.errors.too_many_requests')
        } else {
          this.message = this.$t('form.errors.unknown')
        }
      }
    },
    validEmail: (email) => {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    }
  }
}
</script>
