<template>
  <footer class="p-6 sm:px-10 sm:py-12 text-neu-dark font-body bg-neu-white">
    <div class="flex flex-wrap sm:flex-no-wrap justify-around text-sm">
      <div class="box sm:max-w-xs">
        <Logo class="w-auto h-10 fill-current text-pri-light" />
        <p class="mt-8">{{ $t('footer.disclaimer') }}</p>
      </div>
      <Contact class="box" />
      <div class="box">
        <h2 class="font-display font-bold text-lg text-pri-light">
          {{ $t('footer.community.title') }}
        </h2>
        <ul class="flex mt-6">
          <li>
            <a>
              <inline-svg
                :src="require('~/assets/svg/linkedin.svg')"
                class="fill-current mr-6"
              />
            </a>
          </li>
          <li>
            <a>
              <inline-svg
                :src="require('~/assets/svg/twitter.svg')"
                class="fill-current mr-6"
              />
            </a>
          </li>
          <li>
            <a>
              <inline-svg
                :src="require('~/assets/svg/medium.svg')"
                class="fill-current mr-6"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="flex flex-wrap w-full justify-center mt-10">
      <li class="legal">{{ $t('footer.legal.copyright') }}</li>
      <li class="legal">
        <n-link :to="localePath('/legal/notice')" no-prefetch>
          {{ $t('footer.legal.notice') }}
        </n-link>
      </li>
      <li class="legal">
        <n-link :to="localePath('/legal/privacy')" no-prefetch>
          {{ $t('footer.legal.privacy') }}
        </n-link>
      </li>
    </ul>
  </footer>
</template>

<style lang="postcss" scoped>
.legal {
  @apply text-xs px-3 py-2 text-neu-darker;
}
a:hover {
  @apply text-pri-dark;
}
.box {
  @apply w-full mt-10;
}
@media (min-width: 640px) {
  .box {
    @apply w-auto mx-10 mt-0;
  }
}
</style>

<script>
import InlineSvg from 'vue-inline-svg'
import Logo from '~/components/svgs/Logo.vue'
import Contact from '~/components/footer/Contact.vue'

export default {
  components: {
    Logo,
    Contact,
    InlineSvg
  }
}
</script>
