<template>
  <header class="w-screen px-6 sm:px-10 py-5 relative">
    <nuxt-link to="/">
      <Logo class="w-auto h-6 fill-current text-pri-light float-left my-auto" />
    </nuxt-link>
    <LangSwitch class="float-right" />
  </header>
</template>

<script>
import Logo from '~/components/svgs/Logo.vue'
import LangSwitch from '~/components/LangSwitch.vue'

export default {
  components: {
    Logo,
    LangSwitch
  },
  data: () => {
    return {
      open: false
    }
  },
  methods: {
    toggle() {
      this.open = !this.open
    }
  }
}
</script>
