<template>
  <ul class="flex items-center">
    <li
      v-for="(locale, index) in availableLocales"
      :key="locale.code"
      class="flex items-center"
    >
      <nuxt-link
        :to="switchLocalePath(locale.code)"
        class="lang"
        :class="locale.code === currentLocale ? '' : 'opacity-50'"
      >
        {{ locale.code }}
      </nuxt-link>
      <span
        v-if="index + 1 < availableLocales.length"
        class="block bg-neu-darker w-1 h-1 rounded"
      />
    </li>
  </ul>
</template>

<style scoped lang="postcss">
.lang {
  @apply text-sm uppercase mx-2 font-semibold;
}
.lang:hover {
  @apply opacity-100 text-pri-dark;
}
</style>

<script>
export default {
  data: () => {
    return {
      expanded: false
    }
  },
  computed: {
    availableLocales() {
      return this.$i18n.locales
    },
    currentLocale() {
      return this.$i18n.locale
    }
  }
}
</script>
