<template>
  <div>
    <h2 class="font-display font-bold text-lg text-pri-light">
      {{ $t('footer.contact.title') }}
    </h2>
    <!-- eslint-disable-next-line vue/no-v-html -->
    <p class="mt-4" v-html="contactEmail"></p>
    <!-- eslint-disable-next-line vue/no-v-html -->
    <p class="mt-3" v-html="contactPhone"></p>
  </div>
</template>

<style scoped lang="postcss">
p {
  @apply whitespace-pre-line;
}
</style>

<script>
const linkStyle = 'font-semibold whitespace-no-wrap hover:text-pri-dark'
const email = 'contact@projet-iota.eu'
const calendly = 'https://calendly.com/guillaume-iota/30min'

function buildLink(text, url) {
  return text.replace('<a>', `<a class="${linkStyle}" href="${url}">`)
}

export default {
  computed: {
    contactEmail() {
      return buildLink(
        this.$i18n.t('footer.contact.email', [email]),
        `mailto:${email}`
      )
    },
    contactPhone() {
      return buildLink(this.$i18n.t('footer.contact.call'), calendly)
    }
  }
}
</script>
