<template>
  <div class="h-screen flex flex-col text-neu-darker">
    <Header />
    <nuxt />
    <Footer class="mt-auto" />
  </div>
</template>

<script>
import Footer from '~/components/Footer.vue'
import Header from '~/components/Header.vue'

export default {
  components: {
    Footer,
    Header
  },
  head() {
    return this.$nuxtI18nSeo()
  }
}
</script>
