<template>
  <div>
    <div class="flex flex-col items-center justify-around h-full">
      <inline-svg
        :src="require('~/assets/svg/error.svg')"
        class="h-32 w-auto"
      />
      <p class="m-5 text-xl">{{ message }}</p>
      <nuxt-link
        class="text-xl text-pri-pure hover:text-pri-dark"
        :to="localePath('index')"
      >
        {{ $t('errors.back') }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import InlineSvg from 'vue-inline-svg'

export default {
  components: {
    InlineSvg
  },
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  computed: {
    message() {
      return this.error.message
    }
  }
}
</script>
