<template>
  <div>
    <div class="flex flex-wrap items-stretch">
      <div class="bg-pri-white element">
        <inline-svg
          :src="require('~/assets/svg/make.svg')"
          class="illustration mx-auto max-w-full my-auto"
          style="min-width: 10rem;"
        />
      </div>
      <div class="bg-pri-dark element text-white flex items-center">
        <div class="max-w-lg">
          <h1>{{ $t('landing.header.title') }}</h1>
          <p>{{ $t('landing.header.text') }}</p>
          <p class="caption">
            {{ $t('landing.header.contact') }}
          </p>
          <EmailInput class="max-w-lg mt-4 text-neu-darker" />
        </div>
      </div>
    </div>
    <div class="p-12">
      <div class="mx-auto max-w-2xl sm:my-10 my-auto">
        <h2>{{ $t('landing.construct.title') }}</h2>
        <p>{{ $t('landing.construct.text') }}</p>
      </div>
    </div>
    <div class="p-12 bg-pri-white">
      <div class="mx-auto max-w-2xl sm:my-10">
        <h2>{{ $t('landing.mission.title') }}</h2>
        <p>{{ $t('landing.mission.text') }}</p>
      </div>
    </div>
    <div class="line mt-10">
      <div class="element">
        <inline-svg
          :src="require('~/assets/svg/impact.svg')"
          class="illustration mx-auto"
        />
      </div>
      <div class="element">
        <div class="max-w-lg z-10 relative">
          <h2>{{ $t('landing.pillar.1.title') }}</h2>
          <p>{{ $t('landing.pillar.1.text') }}</p>
          <span class="text-sec-light number">1</span>
        </div>
      </div>
    </div>
    <div class="separator" />
    <div class="line mt-10 reversed">
      <div class="element">
        <div class="max-w-lg z-10 relative ml-auto">
          <h2>{{ $t('landing.pillar.2.title') }}</h2>
          <p>{{ $t('landing.pillar.2.text') }}</p>
          <span class="text-pri-lighter number">2</span>
        </div>
      </div>
      <div class="element">
        <inline-svg
          :src="require('~/assets/svg/responsible.svg')"
          class="illustration mx-auto"
        />
      </div>
    </div>
    <div class="separator" />
    <div class="line mt-10">
      <div class="element">
        <inline-svg
          :src="require('~/assets/svg/standards.svg')"
          class="illustration mx-auto"
        />
      </div>
      <div class="element relative">
        <div class="max-w-lg z-10 relative">
          <h2>{{ $t('landing.pillar.3.title') }}</h2>
          <p>{{ $t('landing.pillar.3.text') }}</p>
          <span class="text-sec-light number">3</span>
        </div>
      </div>
    </div>
    <div class="w-full bg-pri-dark text-white p-12 sm:py-40 relative">
      <h2 class="text-center mb-4">{{ $t('landing.subscribe.title') }}</h2>
      <p class="text-center mb-8">{{ $t('landing.subscribe.text') }}</p>
      <EmailInput class="mx-auto" />
      <inline-svg
        :src="require('~/assets/svg/icon_br.svg')"
        style="opacity: 0.08;"
        class="absolute right-0 bottom-0 sm:h-auto w-auto fill-current text-pri-white max-h-full"
      />
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.line {
  @apply flex flex-wrap items-center;
}
.element {
  @apply flex-1 p-12;
}
.reversed {
  @apply flex-wrap-reverse;
}
p.caption {
  @apply text-base opacity-75;
}
h1 {
  @apply font-display text-3xl font-bold;
}
h2 {
  @apply font-display text-2xl font-semibold whitespace-pre-line;
}
p {
  @apply font-body text-lg mt-2 whitespace-pre-line;
}
@media (min-width: 640px) {
  .line {
    @apply flex-no-wrap;
  }
}
.illustration {
  @apply h-auto max-w-full;
  min-width: 200px;
}
.number {
  @apply -z-10 text-10xl font-black absolute top-0 bottom-auto left-0 transform -translate-y-8 -translate-x-10 leading-none;
}
.separator {
  @apply bg-neu-white mx-64;
  height: 2px;
}
</style>

<script>
import InlineSvg from 'vue-inline-svg'
import EmailInput from '~/components/EmailInput.vue'

export default {
  components: {
    EmailInput,
    InlineSvg
  }
}
</script>
